<%= image_tag("obsidian-image.png", style: 'height:auto;width:100%;', class: 'img-fluid') %> 

<div class="col-sm-12">
<center> <h1>Featured Galleries</h1> </center>
<% @images.each do |image| %>
  <%# if @image.photo.attached? %>
    <%= link_to image_tag(image.photo.variant(resize: '300x300!')), image %>         
  <%# end %>
<% end %>
</div>

  <div class="col-md-6">
    <h1>Authentic Images of Black Life</h1><hr />
    <h4>The Obsidian Collection preserves legacy photos from within our Black media community to 
      celebrate our history and help support African American journalism</h4>
    <%= link_to "Learn More", images_path, class: "text-danger", style: "max-width: 18rem;" %>
  </div>
  <div class="col-md-6">
    <%= image_tag("obsidian-image.png") %> 
  </div>

